{
    "tabWidth": 6,
    "useTabs": false,
    "printWidth": 100,
    "breakWords": false,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always"
}
